dataset/PEMS08/*.pkl filter=lfs diff=lfs merge=lfs -text
dataset/sensor_graph/adj_mx_08.pkl filter=lfs diff=lfs merge=lfs -text
resultados_modular/**/*.pt filter=lfs diff=lfs merge=lfs -text
resultados_modular/**/*.npz filter=lfs diff=lfs merge=lfs -text
resultados_modular/*.db filter=lfs diff=lfs merge=lfs -text
